@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Days+One);
body{
    background-color: #f4f4f4;
    color:#333333;
    font-family: 'Metrophobic', sans-serif;
}
.info{
    display: table;
}
.info>div{
    display: table-row;
}
.info>div>span{
    display: table-cell;
    padding:3px;
}
.infoBlock{
    display: inline-block;
    position: relative;

}
.infoBlock .content{
    position: relative;
    display: block;
    padding:5px;
}
.infoBlock .content>.overlay{
    position: absolute;
    display: block;
    padding:5px;
    left:0;
    right:0;
    bottom:0;
    top:0;
}
.overlay{
    background-color: #83c77b;
}
.number{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 200px;
    line-height: .8em;
    color:#cccccc;
    font-family: 'Days One', sans-serif;
}